.section {
  padding: 1rem;
}

.container {
  max-width: 50rem;
  margin: auto;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 20rem;
  transform: translate(-50%, -50%);
  background: $c-cardbackground;
}

@media (max-width: 420px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
}
