$c-background: #121212;
$c-btn: #5374e6;
$c-white: #fff;
$c-cardbackground: #e3e3e3;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import '_reset';
@import 'card';

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}
