.search-form {
  display: flex;

  &__btn,
  &__input {
    padding: 0.2rem;
  }

  &__input {
    flex-grow: 1;
  }
}

// .search {
//   width: 90%;
//   min-width: 20rem;
//   height: inherit;
//   padding-left: 0.3rem;
//   border: 0;
// }
//
// .btn {
//   width: 10%;
//   min-width: 3rem;
//   height: inherit;
//   border: 0;
//   background: $c-btn;
//   color: $c-white;
// }

.results-list {
  padding: 1rem;
}

.top {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &--title {
      margin: 0.5rem 0;
    }

    &--genre {
      margin: 0.5rem 0;
    }

    &--rating {
      margin: 0.5rem 0;
    }
  }
}

.fa-star {
  margin-left: 0.2rem;
}

.bottom {
  margin-top: 2rem;

  &__title {
    margin: 0;
    font-weight: bold;
  }

  &__text {
    margin: 0.5rem 0;
  }

}
